$c_primary: rgb(170, 170, 57);
$c_secondary: rgb(170, 107, 57);
$c_tertiary: rgb(35, 100, 103);
$c_quaternary: rgb(75, 32, 56);


.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 45px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  border-left: 5px solid $c_quaternary;
  border-right: 5px solid $c_quaternary;

  &__logo--container {
    cursor: pointer;
    height: 120px;
    width: 120px;
  }

  &__logo {
    animation: image-spin infinite 2s linear;
    pointer-events: none;

    //animation: image-spin infinite 2s cubic-bezier(0.22, 0.61, 0.36, 1);
    //animation: image-spin infinite 2s linear;
    &--clockwise {
      animation-direction: normal;
    }

    &--coutnerclockwise {
      animation-direction: reverse;
    }

    &--bothwise {
      animation-direction: alternate;
    }
  }
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__controller {
  width: 100%;
  content: "";
  cursor: pointer;

  &--container {
    display: grid;
    grid-template-columns: 25px;
    grid-template-rows: 25px 25px 25px 25px;
  }

  &:hover {
    width: 160%;
    transition: width 0.1s ease-in-out;
  }

  &--primary {
    background-color: $c_primary;
  }

  &--secondary {
    background-color: $c_secondary;
  }

  &--tertiary {
    background-color: $c_tertiary;
  }

  &--quaternary {
    background-color: $c_quaternary;
  }
}


