$light-aubergine: rgb(75, 32, 56);

.header {
  padding-top: 45px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  border-left: 5px solid $light-aubergine;
  border-right: 5px solid $light-aubergine;
  cursor: pointer;
  &__logo {
    height: 120px;
    pointer-events: none;
    animation: image-spin infinite 2s cubic-bezier(0.22, 0.61, 0.36, 1);
    & .rt{
    }

    &.lt {
      animation-direction: reverse;
    }
  }
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


