@import "../header/style.scss";

.nav-bar {
  display: flex;
  list-style: none;
  padding: 2% 5%;
  justify-content: flex-end;
  //background-color: aquamarine;
  background-image: linear-gradient(to right, $c_primary, $c_secondary, $c_tertiary, $c_quaternary);

  & li {
    padding: 10px 15px;
    background-color: white;
    margin-left: 15px;
  }
}

.nav-bar__item {
  padding: 0 30px;
}

.nav-bar__item > a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: $c_quaternary;
  padding-bottom: 10px;
}

.selected {
  border-bottom: solid white 3px;
}
